<%= div_for comment do %>
      <div id="comment">
        <p>
                <small>
                        Posted <%= time_ago_in_words(comment.created_at) %> ago by <%= link_to " #{comment.user.name }", comment.user %>
                </small>
                <br/>
                <span><%= comment.body %></span>
        </p>
      </div>
<% end %>
