/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'fontello';
  src: url('<%= asset_path("fontello.eot") %>');
  src: url('<%= asset_path("fontello.eot#iefix") %>') format('embedded-opentype'),
       url('<%= asset_path("fontello.woff") %>') format('woff'),
       url('<%= asset_path("fontello.ttf") %>') format('truetype');
}

body {
	background-color: #25383C; /*484848*/
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	}

.container {
	width: 1000px;
	background-color: #303030; /*303030 121212*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	margin-bottom: 20px;
	height: auto;
	padding: 20px 0;
}
/* header */
#topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  margin: 0px;
	height: 50px;
	background-color: #121212; /*282828*/
	.option {
		float: left;
		a:link, a:visited {
			line-height: 45px;
			position: relative;
			top: -16px;
			display: block;
			width: 120px;
			text-decoration: none;
			color: white;
			text-align: center;
			height: 50px;
		}
	}

	.option_logo {
		float: left;
		font-weight: bold;
		font-size: 25px;
		letter-spacing: 1px;
		a:link, a:visited {
			background-color: #009933;
			line-height: 45px;
			position: relative;
			top: -16px;
			display: block;
			width: 120px;
			text-decoration: none;
			color: white;
			text-align: center;
			height: 50px;
		}
	}

	a:hover, a:active {
		background-color: #009966!important;
	}
}
.content {
	clear: both;
	padding: 0 20px;
}

/* footer */

.footer {
	font-size: 16px;
	border-top: 2px solid black;
	padding: 10px 0 10px;
	margin-bottom: 0px;
	width: 1000px;
	color: white;
	margin-left: auto;
	margin-right: auto;
  bottom:0;
  height:auto;   /* Height of the footer */
	overflow: hidden;

	a:link, a:visited {
		text-decoration: none;
		color: #009933;
	}
	a:hover {
		text-decoration: none;
		color: #009966;
	}

	#left {
		float: left;
	}

	#right {
		float: right
	}
}


/* forms */

input, textarea, select, uneditable-input {
	border: 1px solid #999;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

#signup {
	color: #008080;
	margin: auto;
	width: 50%;

	input.submit {
		width: 100%;
		background:#009933;
		color:#fff;
		height:30px;
		border: 1px solid #282828;
	}

	input.submit:hover {
		background: #006666;
		color: white;
	}

	input {
		width: 375px;
	}
	textarea:focus, input:focus {
		border: 1px solid green;
		background: #99CCCC;
	}

	#error_explanation {
		padding: 5px;
		margin-bottom: 10px;
		background: AntiqueWhite;
		color: red;
		border: 2px solid red;

		.alert {
			font-weight: bold;
		}
	}
}

.dropdown {
		float: left;
		color: white;
		ul {
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		list-style: none;

			ul {
				display: block;
	 		  opacity: 0;
				-webkit-transition: opacity 0.4s;
				-moz-transition: opacity 0.4s;
			a {
				background: #121212!important;
			}
			}
			li:hover > ul {
				opacity: 1;
				display: block;
			}
			ul li {
				margin-left: -40px;
			}
		}

		a:link, a:visited {
			background: #121212;
			line-height: 45px;
			position: relative;
			margin-left: -40px;
			top: -16px;
			display: block;
			width: 120px;
			text-decoration: none;
			color: white;
			text-align: center;
			height: 50px;
		}

}

.logout {
	a {
 	 border-top: 2px solid #009966;
	}
}

/* User index */
.user_list {
	img {
		padding-top: 15px;
		margin-right: 5px;
	}

	h1 {
		margin-left: 50px;
		color: #009966;
		font-size: 35px;
	}
	.users {
		line-height: 80px;
		list-style: none;
		li {
			color: white;
			margin-right: 40px;
			padding: 5px 0;
			border-bottom: 2px solid #333333;
		}
		a {
			text-decoration: none;
			color: white;

		&:hover {
			color: #009933;
		}

		}

	}
}

/*.pagination {
	list-style: none;
	display: inline-block;
	width: 700px;
	height: auto;
	li {
		float: left;
	}
	a {
		font-size: 10px;
		background: #282828;;
		text-decoration: none;
		text-align: center;
		line-height: 35px;
		font-weight: bold;
		border-top: 1px solid #009966;
		border-bottom: 1px solid #009966;
		color: #009966;
		display: block;
		width: 67px;
		height: 35px;
	}
	a:hover, a:active {
		color: #009966;
		background: #333333;
		border-top: 3px solid #009966;
		border-bottom: 3px solid #009966;
		height: 32px;
		line-height: 32px;
	}

	.prev {
	border-left: 1px solid #009966;
	}

	.next {
		border-right: 1px solid #009966;
	}
}*/
.pagination {
  font-size: 12px;
  height: 36px;
  margin: 18px 0;
  font-weight: bold;

}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  background: #191919;
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 3px solid #303030;
}
.pagination a:hover,
.pagination .active a {
  background-color: #009966;
  color: white;
}
.pagination .active a {
  color: white;
  cursor: default;
}
#del {
	float: right;
	a:hover {
		color: red;
	}
}

.show_posts {
	margin-top: 50px;
	ol {
		list-style: none;
		li {
				margin-top: 10px;
				border-bottom: 2px solid #383838;
		}
	}
	a {
		text-decoration: none;
		color: #009966;
		}
}

.post {
	color: white;
	margin-right: 50px;

	.title {
		a {
			color: white;
		}
		font-size: 23px;
		font-weight: bold;
		text-decoration: underline;
		text-decoration-style: double;
		}
	.user {
		font-size: 14px;
	}
	.timestamp {
		font-size: 14px;
		}
	.user, .title, .timestamp{
		margin-left: 155px;
	}
}
img {
		padding-top: 5px;
		display: block;
    margin-left: auto;
    margin-right: auto;
}

#show_user {
	h3 {
		color: white;
		margin-left: 100px;
		margin-top: -20px;
	}
	.pagination {
		margin-left: 310px;
	}
}

#add {
	h1 {
		margin-top: 0px;
		text-align: center;
		color: #009966;
		font-size: 35px;
		border-bottom: 2px solid #383838;
		margin-right: 80px;
		margin-left: 80px;
	}
	label {
		color: green;
		font-weight: bold;
		font-size: 20px;
	}
	#post_title {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		height: 27px;
		font-size: 20px;
	}

	#post_avatar {
		display: block;
		margin-left: auto;
		color: white;
		margin-right: auto;
	}

}
.show_posts_main {
	ol {
		list-style: none;
		li {
				margin-top: 10px;
				border-bottom: 2px solid #383838;
		}
	}
	a {
		text-decoration: none;
		color: #009966;
		}
}

.likes {
	float: right;
	margin-right: 155px;
	font-weight: bold;
}
.like a{
	font-weight: bold!important;
}

#likres { color: red!important; font-weight: normal!important;}

.unlike a{
	font-weight: bold;
}

